#include "OGL.h"

MYICON ICON favicon.ico

IDBITMAP_SMILEY BITMAP grass.bmp

IDBITMAP_TERRAIN BITMAP Rabbit.bmp

IDBITMAP_GRASS_BITMAP_ID BITMAP grass.bmp

IDBITMAP_BLUE_MOUNTAINS_BITMAP_ID BITMAP BLUE_MOUNTANS.bmp

IDBITMAP_T1 BITMAP T1.bmp
IDBITMAP_T2 BITMAP T2.bmp
IDBITMAP_T3 BITMAP T3.bmp
IDBITMAP_T4 BITMAP T4.bmp

